        <h1>Gabriel Pagunuran's Generic Parakeet || ITIS 3135</h1>
        <hr>
         <nav class="primary">
            | <a href = "./">Home</a> |
            <a href ="introduction.html" >Introduction</a> |
            <a href = "contract.html">Contract</a> |
            <a href = "website_evaluations.html">Website Evaluations</a> |
         </nav>
         <nav class="secondary">
            <a href="genericparakeet.com/" target="_blank">Generic Parakeet</a> |
            <a href="pgndsn.com/" target="_blank">Pagun Design</a> |
            <a href="stuff/">CRAPPY Website</a> |
            
         </nav>

